<nav class="main-navigation">
    <div class="button-menu-container">
        <button id="btnMenu" class="icon-menu">Menu</button>
    </div>
    <ul class="top-menu menu-slide-vertical">
        {{#each menu}}
        <li>
            <a href="{{thisURL}}{{this.urlSuffix}}">{{this.name}}</a>
            {{#if this.subItems}}
            <button class="icon-keyboard_arrow_down">Sub Menu</button>
            <ul class="sub-menu sub-menu-projects">
                {{#each this.subItems}}
                <li><a href="{{thisURL}}{{this.urlSuffix}}">{{this.name}}</a></li>
                {{/each}}
            </ul>
            {{/if}}
        </li>
        {{/each}}
    </ul>
</nav>
<div class="header-page">
    <h1>Site Title</h1>
    <p>Simple Quote</p>
</div>
