<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="{{thisURL}}css/style.css">
        <title>My Site</title>
    </head>
    <body>
        <header>
            {{> header}}
        </header>

        <div class="main-container">
            {{{content}}}
        </div>

        <footer>
            {{> footer}}
        </footer>
    </body>
    <script src="{{thisURL}}script/script.js"></script>
</html>
